# {{ ansible_galaxy_meta.name }}

## Capability Maturity Model Integration ([CMMI](https://en.wikipedia.org/wiki/Capability_Maturity_Model_Integration))

Originally CMMI addresses three areas of interest.

<p>
<details>
<summary>Product and service development</summary>

### Developing [12-factor application](https://12factor.net/)

1. [Codebase](codebase)
1. [Dependencies](dependencies)
1. [Configuration](configuration)
1. [Backing services](integration)
1. [Build, release, run](delivery)
1. [Processes](processes)
1. [Port binding](binding)
1. [Concurrency](concurrency)
1. [Disposability](disposability)
1. [Dev/prod parity](parity)
1. [Logs](logs)
1. [Administration processes](admininstration)

</details>
</p>

<p>
<details>
<summary>Service establishment and management</summary>

</details>
</p>


<p>
<details>
<summary>Product and service acquisition</summary>

</details>
</p>

---
Created by {{ organization.name }}, {{ organization.type }}
For: {{ ansible_date_time.year }}