---
title: 'Role for {{ role_name }}'
description: 'Quickstart and examples for demonstrating the role capabilities.'
---

#



# Ansible Role: {{ role_name | capitalize }}

## Status

[![Build Status](https://travis-ci.org/{{ lookup('pipe', 'git config user.name') }}/{{ role_name }}.svg?branch=master)](https://travis-ci.org/{{ lookup('pipe', 'git config user.name') }}/{{ role_name }})

## Description

{{ role_name | capitalize }} is an Ansible role used to setup and maintain production grade services.

## Roadmap

* [ROADMAP.md](ROADMAP.md)

## References

* [docs.ansible.com](https://docs.ansible.com/)
* [On Ansible Galaxy](https://galaxy.ansible.com/{{ lookup('pipe', 'git config user.name') }}/{{ collection_name }})

## Requirements

### Production

* Ansible

### For Local Testing

* [Vagrant](https://www.vagrantup.com/) - (Tested using version 2.1.1)
* Vagrant plugins:
  * [vagrant-disksize (0.1.2)](https://github.com/{{ lookup('pipe', 'git config user.name') }}/vagrant-disksize)
  * [vagrant-libvirt](https://github.com/{{ lookup('pipe', 'git config user.name') }}/vagrant-libvirt)
  * vai (0.9.3) - For testing with multiple vms [vagrant-plugin-vai](https://github.com/{{ lookup('pipe', 'git config user.name') }}/vagrant-plugin-vai)
  * [vagrant-vbguest (0.15.2) - Recommended vagrant-vbguest](https://github.com/{{ lookup('pipe', 'git config user.name') }}/vagrant-vbguest)
* [Virtual Box](https://www.virtualbox.org/)
  * Tested using Version 5.2.14 r123301 (Qt5.6.1)

## Variables

### defaults/main.yml

* [defaults/main.yml](defaults/main.yml) contains all of the required variables.

### project_name/site.yml example

* [example_{{ role_name }}.yml](files/example_site.yml) may contain an example entry.

## Testing

To test with all VM's defined in Vagrantfile run the following:

```shell
cd roles/{{ role_name }}
vagrant up
```

To run on a specific VM's
```shell
vagrant up xenial
```

### VM's tested with Vagrant and Virtualbox

pass, fail, untested, unsupported


| OS | Version | Distribution | Supported [^1](#) | Results  |
| :--- | :---: | :---: | :---: | :---: |
{% for release in distribution.releases %}
| {{ distribution.name }} | {{ release.name }} | [![Platform](http://img.shields.io/badge/{{ distribution.name }}-{{ release.name }}-purple.svg?style=flat)](#) | {% if release.supported %} supported {% else %} not supported {% endif %} | * |
{% endfor %}

## Authors

- [{{ lookup('pipe', 'git config user.name') }}](mailto:{{ lookup('pipe', 'git config user.email') }})

## License: [MIT](https://tldrlegal.com/license/mit-license)

* {{ role_name }} generated using [ansible_collection_skeleton](https://github.com/{{ lookup('pipe', 'git config user.name') }}/ansible_collection_skeleton)
