Dear {{ account.first }} {{ account.last }}!

Your LDAP account updated:
 - Username: {{ account.name }}
 - Password: {{ account.password }}

Cherubits IPA Administrator
admin@cherubits.hu

Cherubits LLC
www.cherubits.hu
Dayka str., Kiskunfélegyháza
6100, Hungary
